.sidebar {
  display: flex;
  flex-direction: column;
  width: 14rem;
  background-color: #4e73df;
  min-height: 100vh;
  padding: 1rem 0;
}

.sidebar .logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
}

.sidebar .logo-text span {
  margin-left: 10px;
  color: #fff;
}

.sidebar a {
  padding: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
}

.sidebar h3 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.65rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

.sidebar a:hover {
  color: #fff;
}
