<div class="form" [formGroup]="form">
  <div
    *ngIf="email.invalid && (email.dirty || email.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="email.errors.required">
      Email is required
    </div>
    <div *ngIf="email.errors.email">
      Email must match a valid pattern
    </div>
  </div>
  <div
    *ngIf="password.invalid && (password.dirty || password.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="password.errors.required">
      Password is required
    </div>
  </div>
  <h1 class="form-title">Login</h1>
  <input type="text" placeholder="email" formControlName="email" />
  <input type="password" formControlName="password" />
  <button class="btn btn-primary" (click)="onLoginClick()">
    Login
  </button>
</div>
