<div class="page">
  <div class="box">
    <h1 class="title">User list</h1>
    <div class="content">
      <table class="table table-stridived">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>
              <a routerLink="/users/{{ user.id }}">{{ user.username }}</a>
            </td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
