@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import '~bootstrap/dist/css/bootstrap.css';

body {
  margin: 0;
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

.divider {
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  margin: 0 1rem 1rem;
}

.page {
  padding: 20px 30px;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
}

.box .title {
  font-size: 1.75rem;
  color: #5a5c69;
  margin-bottom: 40px;
}

.box .content {
  min-width: 100%;
}

.message.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #5a5c69;
  border-color: #5a5c69;
  font-size: 16px;
  font-weight: 600;
}

input[type='text'],
input[type='password'] {
  outline: none;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #5a5c69;
  min-width: 240px;
  border-radius: 5px;
}
