@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import '~bootstrap/dist/css/bootstrap.css';

body {
  margin: 0;
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

.divider {
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  margin: 0 1rem 1rem;
}

.page {
  padding: 20px 30px;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
}

.box .title {
  font-size: 1.75rem;
  color: #5a5c69;
  margin-bottom: 40px;
}

.box .content {
  min-width: 100%;
}
